<script> // js starts here
    // when the page is loaded get all tasks on the local storage
    //this returns either the array on the local storage or an empty array if there are no local storage items
    /*
    JSON.parse()
    turns this:
    '["task1", "task2", ...]'
    into this
    ["task1", "task2", ...]
    */
    /*
    localStorage stores key value pairs
    */

    let tasks = JSON.parse(localStorage.getItem('tasks')) || [];

    //used to add a task to the list
    //triggered on click
    function addTask() {
        //this takes the input and grabs the text from it - .value
        //trim() removes whitespace
        let taskText = document.getElementById("taskInput").value.trim();
        //if the item is only whitespace or empty end the function 
        if (taskText === "") {alert("Nothing was entered"); return;}
        //add the task to the block-scoped task list
        tasks.push(taskText);
        //clear the input field
        document.getElementById("taskInput").value = "";
        saveTasks();
        renderTasks();
    }

    function deleteTask(index) {
        //splice(index, num of items to remove)
        tasks.splice(index, 1);
        saveTasks();
        renderTasks();
    }

    function renderTasks() {
        let taskList = document.getElementById("taskList");
        //adds <li> tags inside the unordered list
        //so the output looks like this
        /*
            <ul>
                <li onclick...>task</li><li>task</li>....
            </ul>
        */
        taskList.innerHTML = 
            tasks.map(
                (task, index) => 
                `<li onclick="deleteTask(${index})"> 
                    ${task}
                </li>`
            ).join("");
    }

    // Function to save tasks to localStorage
    function saveTasks() {
        //turns the tasks list into a JSON string then sends that to the localStorage as a key-value pair
        localStorage.setItem('tasks', JSON.stringify(tasks));
    }

    // Render tasks when the page loads
    renderTasks();
</script>